@media only screen and (max-width: 1980px) {
    .row {
        padding: 0 2%;
        width: 100% !important;
    }
    
    .weekly-detail { 
        height: 35% !important;
    }
    
    .weather-detail {
        height: 30% !important;
    } 
}


/*----- Big tablets to 1200px: From 1024px to 1200px (widths smaller than the 1140px row) -----*/
@media only screen and (max-width: 1200px) {
    .row {
        padding: 0 2%;
        width: 100% !important;
    }
    
    .weekly-detail { 
        height: 30% !important;
    }
    
    .weather-detail {
        height: 120% !important;
    } 
}


/*----- Small tablet to big tablets: From 768px to 1023px -----*/
@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }
    
    .row {
        padding: 0 1%;
        width: 95% !important;
    }
    
    section {
        padding: 60px 0;
    }
    
    .weather-detail {
        height: 40%;
        font-size: 80%;
    }
    
    .weekly-detail {
        height: 50%;
        font-size: 80%;
    }
}


/*----- Phones smaller than iPad: From 481px to 767px -----*/
@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }
    
    section {
        padding: 30px 0;
    }
    
    .row {
        padding: 0 2%;
        width: 100% !important;
    }
}


/*----- Small phones: From 0 to 480px -----*/
@media only screen and (max-width: 480px) {
    body {
        font-size: 75% !important;
    }
    
    section {
        padding: 25px 0;
    }
    
    footer {
        font-size: 12px;
    }
}